
@font-face {
  font-family: 'ImpactCustom';
  src: url('/fonts/impact.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

@theme {
  
  --font-impact: "ImpactCustom", "Impact", sans-serif;
}


