---
const currentYear = new Date().getFullYear();
---

<footer class="bg-black text-white py-12 border-t border-zinc-900 mt-20">
  <div class="max-w-7xl mx-auto px-4 flex flex-col items-center gap-10">
    <div class="flex flex-col md:flex-row items-center justify-between gap-10">
    <div class="flex items-center gap-10 ">
      <img 
        src="/fotos/parceiros/afsantarem.png" 
        alt="Associação de Futebol de Santarém" 
        class="h-12 md:h-16 w-auto object-contain" 
      />
      <img 
        src="/fotos/parceiros/fpf.png" 
        alt="Federação Portuguesa de Futebol" 
        class="h-12 md:h-16 w-auto object-contain" 
      />
      <img 
        src="/fotos/parceiros/municipio.png" 
        alt="Município de Vila Nova da Barquinha" 
        class="h-12 md:h-12 w-auto object-contain" 
      />
    </div>

    
    <div class="flex gap-6 items-center">
      <a 
        href="https://www.facebook.com/uniaodesportiva.atalaiense?locale=pt_PT" 
        target="_blank" 
        aria-label="Facebook"
        class="hover:scale-120 transition-transform duration-300"
      >
        <img 
          src="/fotos/parceiros/facebook.png" 
          alt="Facebook" 
          class="h-10 w-10 object-contain opacity-100 hover:opacity-100 transition-opacity" 
        />
      </a>
      <a 
        href="https://www.instagram.com/uniaodesportivaatalaiense3275/" 
        target="_blank" 
        aria-label="Instagram"
        class="hover:scale-120 transition-transform duration-300"
      >
        <img 
          src="/fotos/parceiros/instagram.png" 
          alt="Instagram" 
          class="h-10 w-10 object-contain opacity-100 hover:opacity-100 transition-opacity" 
        />
      </a>
    </div>
  </div>

    <div class="text-center space-y-2">
      <p class="text-[10px] md:text-xs uppercase tracking-[0.3em]">
        &copy; {currentYear} União Desportiva Atalaiense
      </p>
      <p class="text-[9px] text-zinc-500 uppercase tracking-widest">
        Um por Todos e Todos por Um
      </p>
    </div>

  </div>
</footer>